.Container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.Container input {
    text-combine-upright: unset;
    max-width: 18em;
    margin-right: 2em;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
    padding-left: 0.5em;
    height: 2.5em;
    width: 60vw;
    font-size: 0.5em;
}
.Container select {
    -webkit-appearance: none;
    -moz-appearance: none; 
    background-color: white;
    text-combine-upright: unset;
    max-width: 18.7em;
    margin-right: 2em;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
    padding-left: 0.5em;
    height: 2.5em;
    width: 50vw;
    font-size: 0.5em;
}
.Container select {
    cursor: pointer;
    background-image: url(../../../images/angle-open.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right 5px;
    background-size: 13px;
}
.Container__left {
    display: flex;
    flex-direction: column;
}
.Container__rigth{
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 10em;
}
#SelectedList{
    flex-direction: column;
    padding-left: 0em;
}
.SelectedHero{
    background-color: #00D53C;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
    max-width: 11.3em;
    width: 54.5vw;
    font-size: 0.8em;
    padding: 0.2em;
}
#SelectedHero__text {
    margin: 0.7em 0em 0.7em 1em;
    color: white;
    font-size: 0.7em;
    padding: 0em;
}
.SelectedHero button{
    background: none;
    margin: 0em 0.5em 0em 0em;
    padding: 0em;
    border: none;
    width: 2em;
    cursor: pointer;
}


#Container__rigth--name{
    border-color: #00D53C;
    width: 47vw;
}

#Container__rigth--date {
    background-image:url('../../../images/date_icon.png') ;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1em;
    padding-left: 3em;
    max-width: 15.5em;
    width: 39.5vw;
    background-size: 2em;

}
#Container__rigth--date:required{
    box-shadow: none;
}

.Container h2 {
    font-family: "Krub";
    font-size: 0.4em;
    margin: 0em;
    margin-top: 2em;
    margin-bottom: 0.6em;
}


#Container__rigth--button{
    cursor: pointer;
    display: block;

    margin-top: 3em;
    height: 2em;
    width: 5em;
    border-radius: 5px;
    background-color: #00D53C;
    border: 0em;
    color: #FFFFFF;
    font-family: "Krub";
    align-self: flex-end;
}