.overall{
    background-color:
    #F4F4F4;
    border-radius: 14px;
    max-width: 80vw;
    display: flex;
    margin-bottom: 1em;
    flex-wrap: wrap;
    width: 60vw;
    justify-content: space-between;
}
#overall__name--Bar1500 {
    display: flex;
    align-items: center;
    width: 4em;
    height: 1.5em;
    background-color: #00D53C;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0.19em;
}
#overall__name--Bar1000 {
    display: flex;
    align-items: center;
    width: 3em;
    height: 1.5em;
    background-color: #00D53C;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0.19em;
}
#overall__name--Bar300 {
    display: flex;
    align-items: center;
    width: 1em;
    height: 1.5em;
    background-color: #00D53C;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0.19em;
}


#overall__name--hero{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 1em;
}
#overall__name--hero img{
    height: 2.5em;
    margin-top: 1em;
    margin-right: 1.5em;
}
#overall__name--hero h2{
    font-family: "Viga";
    margin: 0em;
    color:#3a3a3a;
    font-size: 1em;
    margin-top: 1em;
    margin-right: 0.5em;
}

#overall__name--xp{
    display: flex;
    height: 2em;
    align-items: center;
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#overall__name--xpText {
    font-family: "Viga";
    margin: 0em;
    color:#3a3a3a;
    font-size: 0.7em;
}
#overall__name--xp img{
    padding-left: 0.2em;
    width: 0.08em;
    height: 1.5em;
}
#overall__name--BarOutside {
    font-family: "Viga";
    color:#00D53C;
    padding-left: 0.5em;
    font-size: 0.7em;
}
#overall__name--BarInside {
    font-family: "Viga";
    color: #FFF;
    padding-left: 0.5em;
    font-size: 0.7em;
}
#overall__name--BarOutsideFalse {
    display: none;
}
#overall__name--BarInsideFalse {
    display: none;
}




#list ul{
    font-family: "Viga";
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 0.7em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 0.5em;
    padding-left: 1.5em;
    padding-right: 1em;
}

#list li{
    font-family: "Krub";
    display: flex;
    margin-top: 1em;
    font-size: 0.7em;
}

#list h2{
    margin: 0em;
    font-size: 1em;
    padding-left: 0.5em;
    align-self: center;
    
}

#list img{
    align-self: center;
    width: 0.3em;
    height: 0.3em;
}
