body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        outline: 0;
        font-size: 25px;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased !important;
    }

@media(max-width: 800px) {
    body{
        font-size: 20px;
    }
} 

@media(max-width: 600px) {
    body{
        font-size: 15px;
    }
} 

