.main__hero {
    flex-direction: column;
    display: flex;
    background: white;
    padding: 0em 0em 0em 0em;
    position: fixed;
    margin-left: 7.5em;
    padding-top: 2vw;
    width: 100vw;
}

.main__hero h1 {
        font-family: 'Viga', sans-serif;
        font-size: 2.38em;
        text-align: left;
        margin: 1em 0em 0em 0.3em;
        color: #3A3A3A;
        opacity: 1;
    }

.main__hero ul{
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        padding-left: 0.5em;
        margin-bottom: 0em;
        width: 53vw;
    }
.main__hero button {
    margin: 0em 1em 0.5em 0em;
    color: #BBBBBB;
    font-family: 'Krub', sans-serif;
    font-size: 0.8em;
    font-weight: normal;
    border: 0em;
    background-color: white;
}
.main__hero button:hover{
color: #3A3A3A;
cursor: pointer;
}
