.HighOrder {
    display: flex;
    background-image: url(../../images/background.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
}
.display__false{
    display: none;
}
#Selected__true{
    color: #3a3a3a;
    font-weight: bold;
    opacity: 1;
}