.main_quest{
    color: #FFFFFF;
    background:#2B92CE 0% 0% no-repeat padding-box;
    max-width: 80vw;
    border-radius: 16px;
    box-shadow: 0px 20px 40px #00000026;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    flex-wrap: wrap;
    width: 60vw;
}
#main_color_in_progress{
    background:#2B92CE 0% 0% no-repeat padding-box;}

#main_color_completed{
    background:#2BCE82 0% 0% no-repeat padding-box;}

#main_color_early{
    background:#B551CC 0% 0% no-repeat padding-box;}

#main_color_late{
    background:#E68E40 0% 0% no-repeat padding-box;}

#main__mid{
    display: flex;
    margin: 0em 1em 1em 1em;

}
#main__left {
    font-family: "Viga";
    display: flex;
    flex-direction: column;
    margin: 0em 1em 1em 1em;
}

#main__rigth{
    display: flex;
    margin: 0em 1em 1em 1em;
}

#main__rigth select {
        background-image: url(../../../images/angleFFF-open.png);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: right 10px;
        background-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-height: 3em;
    display: flex;
    align-self: center;
    margin-right: 2em;
    max-width: 14em;
    border-radius: 14px;
    border: 0.12em solid#FFF;
    text-align: left;
    font-family: "Viga";
    font-size: 0.5em;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-left: 1em;
    width: 48vw;
    height: 14vw;
}

#main__mid--ul{
    font-family: "Viga";
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    margin-top: 1.5em;
}

#main__mid li{
    font-family: "Krub";
    display: flex;
    font-size: 0.8em;
    margin-top: 1em;
}

#main__mid h2{
    margin: 0em;
    font-size: 1em;
    padding-left: 0.5em;
    align-self: center;
    
}

#main__mid img{
    align-self: center;
    width: 0.3em;
    height: 0.3em;
}

#main__left h1 {
    color: #FFFFFF;
    margin: 0em 0em 1em 0em;
    font-size: 1em;
    padding: 1em 0em 0em 1em;
}

#main__left h2 {
    margin: 1em 0em 0em 0em;
    padding: 0em 0em 0em 2em;
    font-size: 0.5em;
}

#main__left h3{ 
    font-family: "Krub";
    margin: 0em;
    font-size: 1em;
}

#main__left--date {
    display: flex;
    flex-direction: row;
}

#main__left--InitialDate {
    display: flex;
    flex-direction: column;
}
#main__left--InitialDate h3{
    font-size: 0.5em;
    margin-left: 2em;
}

#main__left--FinalDate {
    display: flex;
    flex-direction: column;
}
#main__left--FinalDate h3{
    font-size: 0.5em;
    margin-left: 2em;
}