.main__content {
    display: flex;
}

.main__content ul{
    display: flex;
    list-style: none;
    margin: 0em;
    padding: 0em;
    flex-wrap: wrap;
}
.main__content li {
    display: flex;
    flex-direction: column;
}

.main__content input {
    text-combine-upright: unset;
    max-width: 18em;
    margin-right: 2em;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
    padding-left: 0.5em;
    height: 2em;
    width: 45vw;
}

.main__content #name {
    border-color: #00D53C;
}

.main__content h2 {
    font-family: "Krub";
    font-size: 0.4em;
    margin: 0em;
    margin-top: 4em;
    margin-bottom: 0.6em;
}
.submit__button--Hero {
    cursor: pointer;
    display: block;
    margin-right: 2em;
    margin-top: 1em;
    height: 2.5em;
    width: 8em;
    border-radius: 5px;
    background-color: #00D53C;
    border: 0em;
    color: #FFFFFF;
    font-family: "Krub";
    align-self: flex-end;
    margin-right: 2em;
}