.heroes {
    display: flex; 
    margin: 0.6em;
    flex-direction: row;
    width: 60vw;
    background-color: #3a3a3a;
    border-radius: 14px;
    box-shadow: 0px 20px 40px #0003;
    max-width: 17em;
    flex-wrap: wrap;
    
}

.heroes__icon {
    display: flex; 
    height: 3em;
    padding: 1em 0.4em 1em 0.7em;
}
.heroes ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}
.heroes li{
    font-family: 'Krub', sans-serif;
    color: white;
    font-size: 0.7em;
}
#heroes__icon--name {
    font-family: 'Viga', sans-serif;
    font-size: 0.9em;
}

#heroes__list{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
}