.main__menu {
    flex-direction: column;
    display: flex;
    background: none;
    height: 100vh;    
    position: fixed;
}

.main__menu img {
    width: 1em;
    height: 1em;
}
.main__menu--logo {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.7em;
}
#logo {
    width: 1.4em;
    height: 2.2em;
    margin: 0.5em 0em 0em 0.5em;
}

#title {
    width: 4.2em;
    height: 0.9em;
    margin: 1.4em 0em 0.4em 0.5em;
}
.main__menu--nav {
    margin-top: 4.3em;
    font-family: 'Krub', sans-serif;
    color: #BBBBBB;
    font-size: 0.7em;
    font-weight: 700;
}

.main__menu--nav ul {
    padding-left: 2em;
    margin-top: 0em;
    list-style: none;
}

.main__menu--nav img {
    margin-right: 0.5em;
    width: 0.9em;
    height: 0.9em;
}

.buttonNavi {
    display: flex;
    color: #3A3A3A;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8em;
    margin-bottom: 1.5em;
    margin-right: 2em;
    align-items: center;
    opacity: 0.5;
    border: none;
    background-color: transparent;
}

.main__menu--nav .Link:hover {
    opacity: 1;
}